* {
  font-family: "Book Antiqua", "Palatino Linotype", "Arial", "Sans-Serif";
  margin: 0;
  box-sizing: border-box; /*as oppossed to content-box. Border-box adds padding&margin WITHIN box, i.e. shrinks the box size to keep original measurements*/
}

body {
  background-image: url("./imgs/sharon-mccutcheon-ouRjPLWGbPc-unsplash.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.game-header {
  width: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin-left: 2vh;
  font-size: 56px;
  color: white;
  width: 70%;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 26px;
  }

  .game-stats {
    flex-direction: column-reverse;
    margin-left: 2vh;
  }
}

select {
  height: auto;
  width: auto;
  padding: 1vh;
  color: hotpink;
  background-color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
}

.game-header > div {
  display: flex;
  justify-content: flex-end;
  margin: 2vh;
}

#memory-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 95%;
}

.card {
  margin: 1vh;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card:active {
  transform: scale(0.96);
  transition: transform 0.2s;
}

.card.flip {
  pointer-events: none;
}

.card.flip .front {
  transform: rotateY(0deg);
}
.card.flip .back {
  transform: rotateY(180deg);
}

.card .back,
.card .front {
  width: 110px;
  height: 140px;
  margin-bottom: 4%;
  border-radius: 10px;
  transition: transform 0.4s;
  backface-visibility: hidden;
}

.card .back {
  background-image: url("./imgs/card-background-2.jpg");
  background-size: cover;
}

.card .front {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  background-repeat: no-repeat;
  background-color: #fff;
  font-size: 12px;
  font-style: oblique;
}

.match {
  visibility: hidden;
}

.disabled {
  pointer-events: none;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

#count-wrong-guesses,
#timer {
  font-weight: bold;
  font-size: 22px;
  color: white;
}

.game-stats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.start-game-button {
  transition-duration: 0.4s;
  background-color: #fff;
  width: auto;
  text-align: center;
  padding: 1vh 2vh;
  outline: none;
  border-radius: 8px;
  margin-top: 2%;
  color: hotpink;
  font-size: 16px;
}

.start-game-button:hover {
  background-color: hotpink;
  color: white;
}

.hide {
  display: none;
}

/* The Modal (background) */
#popup-congrats {
  position: fixed;
  z-index: 1;
  left: 10%;
  top: 5%;
  width: 100%;
  height: 100%;
}
/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% auto;
  height: 90%;
  width: 80%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  padding: 3%;
  font-size: 36px;
}
