* {
  font-family: "Book Antiqua", "Palatino Linotype", "Arial", "Sans-Serif";
  margin: 0;
  box-sizing: border-box; /*as oppossed to content-box. Border-box adds padding&margin WITHIN box, i.e. shrinks the box size to keep original measurements*/
}

body {
  background-image: url("./imgs/sharon-mccutcheon-ouRjPLWGbPc-unsplash.jpg");
  background-size: cover;
  height: 100vh; /*i.e. 100% of available height space*/
}

h1 {
  margin-top: 2%;
  margin-left: 5%;
  padding: 1%;
  font-size: 40px;
  color: white;
  width: 50%;
}

.select-level {
  position: relative;
  display: block;
  width: 600px;
  overflow: hidden;
  cursor: pointer;
  margin-top: 2%;
}

.game-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#memory-board {
  width: 90%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  margin-top: 2%;
  perspective: 1000px;
}
.card {
  display: flex;
  align-items: stretch;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card:active {
  transform: scale(0.96);
  transition: transform 0.2s;
}

.card.flip {
  pointer-events: none;
  /*transform: rotateY(180deg);*/
}

.card.flip .front {
  transform: rotateY(0deg);
}
.card.flip .back {
  transform: rotateY(180deg);
}

.card .back,
.card .front {
  width: 180px;
  height: 95%;
  margin: 0.5%;
  border-radius: 10px;
  transition: transform 0.4s;
  backface-visibility: hidden;
}

.card .back {
  background-image: url("./imgs/card-background-2.jpg");
  background-size: cover;
}

.card .front {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
  background-size: 40% 40%;
  background-position: right bottom;
  text-align: start;
  padding: 4%;
  background-repeat: no-repeat;
  background-color: #fff;
  font-size: 16px;
  font-style: oblique;
}

.match {
  visibility: hidden;
}

.disabled {
  pointer-events: none;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

p {
  font-weight: bold;
  font-size: 26px;
  color: white;
}

.game-stats {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.start-game-button {
  transition-duration: 0.4s;
  background-color: #fff;
  font-size: 24px;
  width: 15%;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 2%;
  color: hotpink;
}

.start-game-button:hover {
  background-color: hotpink;
  color: white;
}

.hide {
  display: none;
}

/* The Modal (background) */
#popup-congrats {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 10%;
  top: 5%;
  width: 100%;
  height: 100%;
}
/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% auto;
  height: 90%;
  width: 80%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  padding: 3%;
  font-size: 36px;
}
